BODY {
	BACKGROUND: white; COLOR: black
}
H1 {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #c33; TEXT-ALIGN: center
}
H2 {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00008b
}
H3 {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-LEFT: 4%; COLOR: #006400; MARGIN-RIGHT: 4%
}
H4 {
	FONT-WEIGHT: bold; MARGIN-LEFT: 6%; MARGIN-RIGHT: 6%
}
H5 {
	FONT-WEIGHT: bold; MARGIN-LEFT: 6%; MARGIN-RIGHT: 6%
}
UL {
	MARGIN-LEFT: 6%; MARGIN-RIGHT: 6%
}
OL {
	MARGIN-LEFT: 6%; MARGIN-RIGHT: 6%
}
DL {
	MARGIN-LEFT: 6%; MARGIN-RIGHT: 6%
}
P {
	MARGIN-LEFT: 6%; MARGIN-RIGHT: 6%
}
UL UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 1.2em; MARGIN-RIGHT: 1%
}
TABLE OL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 1.2em; MARGIN-RIGHT: 1%
}
TABLE UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 1.2em; MARGIN-RIGHT: 1%
}
DL OL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 1.2em; MARGIN-RIGHT: 1%
}
DL UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 1.2em; MARGIN-RIGHT: 1%
}
PRE {
	MARGIN-LEFT: 10%; WHITE-SPACE: pre
}
TABLE CAPTION {
	FONT-WEIGHT: bolder; FONT-SIZE: larger
}
TABLE P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
TABLE DL {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
OL P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
UL P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
DL P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
BLOCKQUOTE P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.note P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.note UL {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.note OL {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.note DL {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
LI PRE {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
DD PRE {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
P.top {
	MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
BLOCKQUOTE {
	MARGIN-LEFT: 8%; MARGIN-RIGHT: 8%
}
BLOCKQUOTE PRE {
	MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
DT A {
	MARGIN-TOP: 0.8em; FONT-WEIGHT: bold
}
DFN {
	FONT-WEIGHT: bolder; FONT-STYLE: normal
}
VAR SUB {
	FONT-STYLE: normal
}
COLGROUP.entity {
	TEXT-ALIGN: center
}
TD LI.transitional {
	FONT-WEIGHT: lighter; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #696969
}
.elements LI.transitional {
	FONT-WEIGHT: lighter; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #696969
}
TD LI.frameset {
	FONT-WEIGHT: lighter; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #808080
}
.elements LI.frameset {
	FONT-WEIGHT: lighter; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #808080
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00f
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #800080
}
A:active {
	BACKGROUND: #ffd700; COLOR: green
}
.html {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000080
}
.css {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #800000
}
.javascript {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #008000
}
.example {
	MARGIN-LEFT: 10%
}
.note {
	FONT-SIZE: 85%; MARGIN-LEFT: 10%
}
.SMA {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: fuchsia; FONT-FAMILY: Kids, "Comic Sans MS", Jester
}
.oops {
	FONT-FAMILY: Jester, "Comic Sans MS"
}
.author {
	FONT-STYLE: italic
}
.copyright {
	CLEAR: right; FONT-SIZE: smaller; TEXT-ALIGN: right
}
.toolbar {
	TEXT-ALIGN: center
}
.toolbar IMG {
	FLOAT: right
}
.error {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #dc143c; TEXT-DECORATION: none
}
.warning {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff4500; TEXT-DECORATION: none
}
.error STRONG {
	BACKGROUND: #ffd700; COLOR: #dc143c; TEXT-DECORATION: none
}
.warning STRONG {
	BACKGROUND: #ffd700; COLOR: #ff4500; TEXT-DECORATION: none
}
.warning A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff4500; TEXT-DECORATION: underline
}
.warning A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff4500; TEXT-DECORATION: underline
}
.warning A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff4500; TEXT-DECORATION: underline
}
.error A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #dc143c; TEXT-DECORATION: underline
}
.error A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #dc143c; TEXT-DECORATION: underline
}
.error A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #dc143c; TEXT-DECORATION: underline
}
.error STRONG A:link {
	BACKGROUND: #ffd700; COLOR: #dc143c
}
.error STRONG A:visited {
	BACKGROUND: #ffd700; COLOR: #dc143c
}
.error STRONG A:active {
	BACKGROUND: #ffd700; COLOR: #dc143c
}
.warning STRONG A:link {
	BACKGROUND: #ffd700; COLOR: #ff4500
}
.warning STRONG A:visited {
	BACKGROUND: #ffd700; COLOR: #ff4500
}
.warning STRONG A:active {
	BACKGROUND: #ffd700; COLOR: #ff4500
}
.default {
	FONT-STYLE: normal; TEXT-DECORATION: underline
}
.required {
	FONT-WEIGHT: bold
}
.footer {
	CLEAR: both; BORDER-TOP: black thin solid; MARGIN-TOP: 2em; PADDING-TOP: 1em
}
.checkedDocument {
	CLEAR: both; BORDER-TOP: black thin solid; MARGIN-TOP: 2em; PADDING-TOP: 1em
}
.liamsig {
	FONT-SIZE: smaller; FONT-STYLE: italic
}
.arnoudsig {
	FONT-SIZE: smaller; FONT-STYLE: italic
}
.johnliamsig {
	FONT-SIZE: smaller; FONT-STYLE: italic
}
.johnsig {
	FONT-SIZE: smaller; FONT-STYLE: italic
}
.darinsig {
	FONT-SIZE: smaller; FONT-STYLE: italic
}
.header {
	BORDER-BOTTOM: black thin solid
}
.navbar {
	TEXT-ALIGN: center
}
.copyright {
	TEXT-ALIGN: center
}
.copyright IMG {
	VERTICAL-ALIGN: middle
}
STRONG.legal {
	FONT-WEIGHT: normal; TEXT-TRANSFORM: uppercase
}
.leaderboard {
	TEXT-ALIGN: center
}
.skyscraper {
	BORDER-RIGHT: blue 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: blue 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 1em; BORDER-LEFT: blue 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: blue 1px solid
}
.skyscraper H3 {
	MARGIN: 0px
}
.linkads H2 {
	FONT-SIZE: 110%; MARGIN-LEFT: 4%; MARGIN-RIGHT: 4%
}
DIV.linkads {
	BORDER-RIGHT: #4d9a67 thin solid; BORDER-TOP: #4d9a67 thin solid; MARGIN-BOTTOM: 1em; BORDER-LEFT: #4d9a67 thin solid; BORDER-BOTTOM: #4d9a67 thin solid
}
DIV.adbrite {
	BORDER-RIGHT: #4d9a67 thin solid; BORDER-TOP: #4d9a67 thin solid; MARGIN-BOTTOM: 1em; BORDER-LEFT: #4d9a67 thin solid; BORDER-BOTTOM: #4d9a67 thin solid
}
.otherLanguages {
	FONT-SIZE: 85%; MARGIN-LEFT: 3%; MARGIN-RIGHT: 3%
}
.adbrite H2 {
	FONT-SIZE: 110%
}
.adText {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: black; TEXT-DECORATION: none
}

@media Print    
{
INPUT#toggler {
	DISPLAY: none
}
.toolbar {
	DISPLAY: none
}
.leaderboard {
	DISPLAY: none
}
.skyscraper {
	DISPLAY: none
}
.google-ad {
	DISPLAY: none
}
    }
.mainlogo IMG {
	FLOAT: left
}
.faqtoclink {
	FONT-SIZE: 85%; TEXT-ALIGN: right
}
.tagline {
	FONT-STYLE: italic; TEXT-ALIGN: right
}
.adBriteHeader {
	BACKGROUND: #f0e68c; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: black; HEIGHT: 30px
}
.adBriteHeader A.yourAdHere {
	BACKGROUND: #f0e68c; FLOAT: right; FONT: xx-small Arial; WIDTH: 150px; COLOR: black; TEXT-DECORATION: underline
}
A.adHeadline {
	BACKGROUND: #f0e68c; FLOAT: left; FONT: bold x-small Arial; COLOR: blue; TEXT-DECORATION: underline
}
A.adText {
	BACKGROUND: #f0e68c; FLOAT: left; FONT: xx-small Arial; MARGIN-LEFT: 10px; COLOR: black; TEXT-DECORATION: none
}
.topAd {
	BACKGROUND: #f0e68c; MARGIN-LEFT: 1%; COLOR: black; MARGIN-RIGHT: 1%; TEXT-ALIGN: center
}
